$dark-blue: #222;
$green: #90feb5;
$action-color: $green;

@font-face {
  font-family: "Brush King";
  src: local("Brush King"), url("/Fonts/Brush\ King.otf") format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .header {
    width: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    justify-content: space-between;
    top: 0;

    .title {
      color: white;
      margin-top: 1rem;
      margin-left: 5rem;
      width: 40vw;
      font-family: "Brush King";
      font-size: 1.7rem;
      letter-spacing: 0.2rem;
    }

    .nav {
      position: relative;
      width: 50vw;

      ul {
        position: absolute;
        right: 1.5rem;
        padding: 1.5rem;
        list-style: none;

        li {
          font-family: "Roboto", sans-serif;
          font-size: 1.3rem;
          font-weight: 500;
          letter-spacing: 0.2rem;
          padding: 1rem;
          margin: 1rem;
          margin-top: 0;
          float: left;
          a {
            text-decoration: none;
            color: white;
            background-color: transparent;
            padding-bottom: 2px;
            position: relative;

            cursor: pointer;
            font-size: 18px;
          }
          a::after {
            display: block;
            background-color: rgba(255, 255, 255, 0.562);
            width: 100%;
            left: 0;
            transform-origin: bottom left;
            height: 2px;
            position: absolute;
            bottom: -4px;
            transform: scaleX(0);
            transition: 0.3s ease;
            content: "";
          }
          a:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
  .services {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-box-orient: horizontal;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;

    .tabletop {
      .card {
        height: 41rem;
        background-color: rgba(0, 0, 0, 0.034);
        margin: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top: 2rem;

        figure.zoom {
          & img:hover {
            opacity: 0;
          }
          img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
          }
          background-position: 50% 50%;
          position: relative;
          overflow: hidden;
          cursor: zoom-in;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          width: 25rem;
          margin-left: auto;
          margin-right: auto;
        }

        h2 {
          letter-spacing: 0.05rem;
          margin-top: 2rem;
          text-align: center;
        }
        p {
          letter-spacing: 0.05rem;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.788);
          margin: auto;
          margin-top: 2rem;
          text-align: center;
          line-height: 1.5rem;
          width: 80%;
        }
        .angled-gradient-button {
          margin-left: auto;
          margin-right: auto;
          margin-top: 2rem;
          display: block;
          background-size: 220%;
          box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
          color: #000;
          background-color: transparent;
          background-position: 95%;
          border: 0.15rem solid #000;
          text-transform: uppercase;
          padding: 8px 16px;
          border-radius: 3px;
          transition: all 0.2s ease-out;
          font-weight: 600;
          cursor: pointer;
          letter-spacing: 0.05rem;
          background-image: linear-gradient(
            90deg,
            #000 0%,
            #000 50%,
            transparent 50%,
            transparent 100%
          );
          font-size: 14px;
        }

        .angled-gradient-button:hover {
          transform: translateY(-2px);
          box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
          background-position: 0;
          color: #fff;
        }

        .angled-gradient-button:active {
          transform: translateY(-1px);
        }
      }
    }

    .advanced {
      .card {
        height: 41rem;
        background-color: rgba(0, 0, 0, 0.034);
        margin: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top: 2rem;

        figure.zoom {
          & img:hover {
            opacity: 0;
          }
          img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
          }
          background-position: 50% 50%;
          position: relative;
          overflow: hidden;
          cursor: zoom-in;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          width: 14rem;
          margin-left: auto;
          margin-right: auto;
        }
        h2 {
          letter-spacing: 0.05rem;
          margin-top: 2rem;
          text-align: center;
        }
        p {
          letter-spacing: 0.05rem;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.788);
          margin: auto;
          margin-top: 2rem;
          text-align: center;
          line-height: 1.5rem;
          width: 80%;
        }
        .angled-gradient-button {
          margin-left: auto;
          margin-right: auto;
          margin-top: 2rem;
          display: block;
          background-size: 220%;
          box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
          color: #000;
          background-color: transparent;
          background-position: 95%;
          border: 0.15rem solid #000;
          text-transform: uppercase;
          padding: 8px 16px;
          border-radius: 3px;
          transition: all 0.2s ease-out;
          font-weight: 600;
          cursor: pointer;
          letter-spacing: 0.05rem;
          background-image: linear-gradient(
            90deg,
            #000 0%,
            #000 50%,
            transparent 50%,
            transparent 100%
          );
          font-size: 14px;
        }

        .angled-gradient-button:hover {
          transform: translateY(-2px);
          box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
          background-position: 0;
          color: #fff;
        }

        .angled-gradient-button:active {
          transform: translateY(-1px);
        }
      }
    }

    .showcase {
      .card {
        height: 41rem;
        background-color: rgba(0, 0, 0, 0.034);
        margin: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top: 2rem;

        figure.zoom {
          & img:hover {
            opacity: 0;
          }
          img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
          }
          background-position: 50% 50%;
          position: relative;
          overflow: hidden;
          cursor: zoom-in;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          width: 17rem;
          margin-left: auto;
          margin-right: auto;
        }
        h2 {
          letter-spacing: 0.05rem;
          margin-top: 2rem;
          text-align: center;
        }
        p {
          letter-spacing: 0.05rem;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.788);
          margin: auto;
          margin-top: 2rem;
          text-align: center;
          line-height: 1.5rem;
          width: 80%;
        }
        .angled-gradient-button {
          margin-left: auto;
          margin-right: auto;
          margin-top: 2rem;
          display: block;
          background-size: 220%;
          box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
          color: #000;
          background-color: transparent;
          background-position: 95%;
          border: 0.15rem solid #000;
          text-transform: uppercase;
          padding: 8px 16px;
          border-radius: 3px;
          transition: all 0.2s ease-out;
          font-weight: 600;
          cursor: pointer;
          letter-spacing: 0.05rem;
          background-image: linear-gradient(
            90deg,
            #000 0%,
            #000 50%,
            transparent 50%,
            transparent 100%
          );
          font-size: 14px;
        }

        .angled-gradient-button:hover {
          transform: translateY(-2px);
          box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
          background-position: 0;
          color: #fff;
        }

        .angled-gradient-button:active {
          transform: translateY(-1px);
        }
      }
    }
  }
}
