* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .header {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    justify-content: space-between;
    .title {
      background-color: cadetblue;
    }

    .nav {
      width: 40vw;
      background-color: darkblue;

      ul {
        margin: 1.5rem;
        margin-left: 10rem;
        list-style: none;

        li {
          font-size: 1.5rem;
          margin: 1rem;
          background-color: darkmagenta;
          float: left;
        }
      }
    }
  }
}
